Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
nautilus-edit-with-vim.schemas
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/.libs/
src/Makefile
src/edit-with-vim.lo
src/edit-with-vim.o
src/eel-gnome-extensions.lo
src/eel-gnome-extensions.o
src/libnautilus-edit-with-vim.la
src/nautilus-edit-with-vim.lo
src/nautilus-edit-with-vim.o
stamp-h1
*.swp
